.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.smile-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.show-results-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 40px;
}
.show-results-btn:hover {
    background-color: #68f721;
}
.smile-item {
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
.smile-item:hover{
    transform: scale(150%);
}
.smile-item h3 {
    font-size: 40px;
    margin: 0;
}
.smile-item button {
    border: none;
    background: none;
    font-size: 20px;
    font-style: italic;
    cursor: pointer;
}
.results-container h2, .results-container h3 {
    margin: 20px 0;
}
.winner-display {
    font-size: 60px;
    margin: 10px 0;
}
.votes-count {
    font-style: italic;
    font-size: 18px;
}
.clear-results-btn {
    background-color: #902222;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 18px;
    margin-left: 20px;
}
.clear-results-btn:hover {
    background-color: #f7215a;
}